<!DOCTYPE html>
<html>
  <head>
    <title><%=typeof title == 'undefined' ? 'New Sails App' : title%></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/components/accordion.css">
    <link rel="stylesheet" href="/styles/components/accordion.min.css">
    <link rel="stylesheet" href="/styles/components/ad.css">
    <link rel="stylesheet" href="/styles/components/ad.min.css">
    <link rel="stylesheet" href="/styles/components/breadcrumb.css">
    <link rel="stylesheet" href="/styles/components/breadcrumb.min.css">
    <link rel="stylesheet" href="/styles/components/button.css">
    <link rel="stylesheet" href="/styles/components/button.min.css">
    <link rel="stylesheet" href="/styles/components/card.css">
    <link rel="stylesheet" href="/styles/components/card.min.css">
    <link rel="stylesheet" href="/styles/components/checkbox.css">
    <link rel="stylesheet" href="/styles/components/checkbox.min.css">
    <link rel="stylesheet" href="/styles/components/comment.css">
    <link rel="stylesheet" href="/styles/components/comment.min.css">
    <link rel="stylesheet" href="/styles/components/container.css">
    <link rel="stylesheet" href="/styles/components/container.min.css">
    <link rel="stylesheet" href="/styles/components/dimmer.css">
    <link rel="stylesheet" href="/styles/components/dimmer.min.css">
    <link rel="stylesheet" href="/styles/components/divider.css">
    <link rel="stylesheet" href="/styles/components/divider.min.css">
    <link rel="stylesheet" href="/styles/components/dropdown.css">
    <link rel="stylesheet" href="/styles/components/dropdown.min.css">
    <link rel="stylesheet" href="/styles/components/embed.css">
    <link rel="stylesheet" href="/styles/components/embed.min.css">
    <link rel="stylesheet" href="/styles/components/feed.css">
    <link rel="stylesheet" href="/styles/components/feed.min.css">
    <link rel="stylesheet" href="/styles/components/flag.css">
    <link rel="stylesheet" href="/styles/components/flag.min.css">
    <link rel="stylesheet" href="/styles/components/form.css">
    <link rel="stylesheet" href="/styles/components/form.min.css">
    <link rel="stylesheet" href="/styles/components/grid.css">
    <link rel="stylesheet" href="/styles/components/grid.min.css">
    <link rel="stylesheet" href="/styles/components/header.css">
    <link rel="stylesheet" href="/styles/components/header.min.css">
    <link rel="stylesheet" href="/styles/components/icon.css">
    <link rel="stylesheet" href="/styles/components/icon.min.css">
    <link rel="stylesheet" href="/styles/components/image.css">
    <link rel="stylesheet" href="/styles/components/image.min.css">
    <link rel="stylesheet" href="/styles/components/input.css">
    <link rel="stylesheet" href="/styles/components/input.min.css">
    <link rel="stylesheet" href="/styles/components/item.css">
    <link rel="stylesheet" href="/styles/components/item.min.css">
    <link rel="stylesheet" href="/styles/components/label.css">
    <link rel="stylesheet" href="/styles/components/label.min.css">
    <link rel="stylesheet" href="/styles/components/list.css">
    <link rel="stylesheet" href="/styles/components/list.min.css">
    <link rel="stylesheet" href="/styles/components/loader.css">
    <link rel="stylesheet" href="/styles/components/loader.min.css">
    <link rel="stylesheet" href="/styles/components/menu.css">
    <link rel="stylesheet" href="/styles/components/menu.min.css">
    <link rel="stylesheet" href="/styles/components/message.css">
    <link rel="stylesheet" href="/styles/components/message.min.css">
    <link rel="stylesheet" href="/styles/components/modal.css">
    <link rel="stylesheet" href="/styles/components/modal.min.css">
    <link rel="stylesheet" href="/styles/components/nag.css">
    <link rel="stylesheet" href="/styles/components/nag.min.css">
    <link rel="stylesheet" href="/styles/components/popup.css">
    <link rel="stylesheet" href="/styles/components/popup.min.css">
    <link rel="stylesheet" href="/styles/components/progress.css">
    <link rel="stylesheet" href="/styles/components/progress.min.css">
    <link rel="stylesheet" href="/styles/components/rail.css">
    <link rel="stylesheet" href="/styles/components/rail.min.css">
    <link rel="stylesheet" href="/styles/components/rating.css">
    <link rel="stylesheet" href="/styles/components/rating.min.css">
    <link rel="stylesheet" href="/styles/components/reset.css">
    <link rel="stylesheet" href="/styles/components/reset.min.css">
    <link rel="stylesheet" href="/styles/components/reveal.css">
    <link rel="stylesheet" href="/styles/components/reveal.min.css">
    <link rel="stylesheet" href="/styles/components/search.css">
    <link rel="stylesheet" href="/styles/components/search.min.css">
    <link rel="stylesheet" href="/styles/components/segment.css">
    <link rel="stylesheet" href="/styles/components/segment.min.css">
    <link rel="stylesheet" href="/styles/components/shape.css">
    <link rel="stylesheet" href="/styles/components/shape.min.css">
    <link rel="stylesheet" href="/styles/components/sidebar.css">
    <link rel="stylesheet" href="/styles/components/sidebar.min.css">
    <link rel="stylesheet" href="/styles/components/site.css">
    <link rel="stylesheet" href="/styles/components/site.min.css">
    <link rel="stylesheet" href="/styles/components/statistic.css">
    <link rel="stylesheet" href="/styles/components/statistic.min.css">
    <link rel="stylesheet" href="/styles/components/step.css">
    <link rel="stylesheet" href="/styles/components/step.min.css">
    <link rel="stylesheet" href="/styles/components/sticky.css">
    <link rel="stylesheet" href="/styles/components/sticky.min.css">
    <link rel="stylesheet" href="/styles/components/tab.css">
    <link rel="stylesheet" href="/styles/components/tab.min.css">
    <link rel="stylesheet" href="/styles/components/table.css">
    <link rel="stylesheet" href="/styles/components/table.min.css">
    <link rel="stylesheet" href="/styles/components/transition.css">
    <link rel="stylesheet" href="/styles/components/transition.min.css">
    <link rel="stylesheet" href="/styles/datatables.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/semantic.min.css">
    <!--STYLES END-->
  </head>

  <body class="layouts pushable">
    <%- body %>

    <!--SCRIPTS-->
    <script src="/js/jspm_packages/system.js"></script>
    <script src="/js/config.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/datatables.min.js"></script>
    <script src="/js/semantic.min.js"></script>
    <!--SCRIPTS END-->
    <script>
        System.import('/js/main.js');
    </script>

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->
  </body>
</html>
